*{  margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;}

/* --Header-- */

header{
    padding-bottom: 50px;
    background-color: black;
}

.Banner{
    width: 100%;
    height: 400px;
    background: linear-gradient(45deg, rgb(0, 179, 255), rgb(77, 77, 77));
    margin-bottom: 50px;
}

.container{
    top: 50%;
    left: 10%;
    position: relative;
    float: left;
    color: white;
    width: 550px;
    height: 150px;
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: left;
}

.container h1{
    font-size:xx-large;
}

.container2{
    top: 50%;
    left: 10%;
    position: relative;
    border-left: 1px solid rgb(128, 128, 128, .3);
    color: white;
    width: 550px;
    height: 150px;
    padding-left: 50px;
    text-align: left;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction:column;
}

.container2 h3{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
}

.container2 button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    border-color: rgb(255, 255, 255)
}

.container2 button:hover{
    border-radius: 20px;
    transform: scale(1.03);
    box-shadow: 0 3px 8px rgb(0, 0, 0);
}

.container3{
    top: 50%;
    left: 10%;
    float: left;
    position: relative;
    width: 550px;
    height: 200px;
    text-align: left;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container3 h1{
    color: rgb(0, 179, 255);
    padding-top: 10px;
    padding-bottom: 10px;
}

.container3 p{
    color: white;
    width: 450px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

.container3 button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: transparent;
    color: rgb(0, 179, 255);
    border-radius: 20px;
    border-color: rgb(0, 179, 255);
}

.container3 button:hover{
    border-radius: 20px;
    transform: scale(1.03);
    box-shadow: 0 3px 8px rgb(128, 128, 128, .3);
}

.container4{
    top: 50%;
    left: 10%;
    position: relative;
    border-left: 1px solid rgb(128, 128, 128, .3);
    width: 550px;
    height: 200px;
    padding-left: 50px;
    text-align: left;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul li{
    list-style: none;
}

div.container4 a{
    padding-left: 2rem;
    background-image: url(https://svgsilh.com/svg/1294077-ffffff.svg);
	background-position: 0 50%;
	background-size: 1.3rem 1.3rem;
	background-repeat: no-repeat;
    text-decoration: none;
    color: white;
    line-height: 45px;
}

div.container4 a:hover{
    background-image: url(https://svgsilh.com/svg/1294077-2196f3.svg);
    color: rgb(0, 179, 255);
}

hr{
    border: 0;
    height: 2px;
    background-color: rgb(0, 179, 255);
}

/* --Body-- */

.body{
    display:grid;
    background: url(https://media.istockphoto.com/vectors/black-geometric-squares-abstract-technology-background-vector-id1168876429?k=20&m=1168876429&s=612x612&w=0&h=syeVRNyA6fb1QL0Kkjm5R3YsprjfBr26TsuER9DVa0I=);
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.Contenido{
    margin-bottom: 50px;
    width: 1000px;
    height: 330px;
    display: flex;
    overflow: hidden;
    background-color:  rgb(77, 77, 77);
    box-shadow: 0 3px 8px rgb(30, 177, 240);
}

.Contenido:hover{
    transform: scale(1.02);
    box-shadow:  0 3px 16px rgb(30, 177, 240);
    background-color:  rgb(32, 32, 32);
}

.Contenido .Imagen{
    margin-right: 10px;
    width: 150%;
    height: 100%;
}
.Contenido .Imagen .imge{
    margin-right: 10px;
    width: 100%;
    height: 100%;
}
.Contenido .Imagen:hover{
    width: 180%;
    height: 100%;
}

.Contenido .info{
    width: 1500px;
    height: 250px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    color:rgb(138, 138, 138);
}

.Contenido .info:hover{
    color:rgb(0, 179, 255);
}

.Contenido .info .titulo{
    font-size: 145%;;
}
.Contenido .info .titulo:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 16px rgb(30, 177, 240);
}

.Contenido .info .descrip:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 16px rgb(30, 177, 240);
}


.Contenido .info .boton button{
   margin-top: 20px;
   background-color: transparent;
   color: rgb(138, 138, 138);
   border-radius: 50px;
   width: 120px;
   height: 50px;
   font-size: 12px;
   letter-spacing: 1px;
   border-color: rgb(138, 138, 138);
}

.Contenido .info .boton button:hover{
   transform: scale(1.03);
   background-color:rgb(2, 101, 143) ;
   color: rgb(255, 255, 255);
   border-radius: 50px;
   border-color: rgb(0, 179, 255);
   box-shadow: 0 3px 8px rgb(0, 0, 0);
}

.botonFin button{
   margin-left: 350px;
   margin-top: 20px;
   background-color: transparent;
   color: rgb(138, 138, 138);
   border-radius: 50px;
   width: 260px;
   height: 50px;
   font-size: 12px;
   letter-spacing: 1px;
   border-color: rgb(138, 138, 138);
}

.botonFin button:hover{
    transform: scale(1.03);
    background-color:rgb(2, 101, 143) ;
    color: rgb(255, 255, 255);
    border-color: rgb(0, 179, 255);
    box-shadow: 0 3px 8px rgb(0, 0, 0); 
}

/*--Footer--*/

footer{
    width: 100%;
    height: 551px;
    padding-top: 50px;
    padding-bottom: 151px;
    background-color: black;
}

.Cuestionario {
    left: 10%;
    position: relative;
    float: left;
    color: white;
    width: 550px;
    height: 350px;
    padding-bottom: 150px;
    margin-bottom: 50px;
    text-align: left;
    align-items: flex-start;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.Cuestionario h1{
    color: rgb(0, 179, 255);
    padding-top: 10px;
    padding-bottom: 10px;
}

.Cuestionario p{
    color: white;
    width: 450px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

.Cuestionario form{
    margin: 0 auto;
}

.Cuestionario form input{
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 200px;
    padding-left: 20px;
    padding: 10px;
    box-sizing: border-box; 
    border: none; 
    color: #525c66; 
    font-size: 1em;
    resize: none; 
}

#email{
    margin-left: 15px;
}

.Cuestionario form textarea{
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 420px;
    padding: 10px;
    box-sizing: border-box; 
    border: none; 
    color: #525c66; 
    font-size: 1em;
    resize: none;
}

.Cuestionario button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: transparent;
    color: rgb(0, 179, 255);
    border-radius: 20px;
    border-color: rgb(0, 179, 255);
}

.Cuestionario button:hover{
    border-radius: 20px;
    transform: scale(1.03);
    box-shadow: 0 3px 8px rgb(128, 128, 128, .3);
}
 
.contactos{
    left: 10%;
    position: relative;
    border-left: 1px solid rgb(128, 128, 128, .3);
    width: 550px;
    height: 350px;
    padding-bottom: 150px;
    margin-bottom: 50px;
    padding-left: 50px;
    text-align: left;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
 
.contactos ul li{
    list-style: none;
}
 
div.contactos a{
    padding-left: 2rem;
	background-position: 0 50%;
	background-size: 1.3rem 1.3rem;
	background-repeat: no-repeat;
    text-decoration: none;
    color: white;
    line-height: 45px;
}
 
.copy{
    height: 150px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: gray;
    position: Relative;
}